#container {
    position: relative;
    width: 300px; /* Tamanho do container fixo */
    height: 300px; /* Tamanho do container fixo */
    margin: auto;
    border: 2px solid #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#uploadedImage {
    max-width: none; /* Permite que a imagem se mova além dos limites do container */
    max-height: none; /* Permite que a imagem se mova além dos limites do container */
}
#frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Não interage com o mouse */
}
